<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kemana_Survey::isp_list" title="ISP Data" translate="title" module="Kemana_Survey"
             sortOrder="90" parent="Magento_Sales::sales_operation" action="kemana/isp/index"
             resource="Magento_Sales::sales_order"/>
    </menu>
</config>
