<div data-bind="if: allow_detect_isp">
    <p>You are using <strong><span data-bind="text: fieldISP"></span></strong> for your internet connection</p>
    <p>Are you satisfied with your current internet connection provider ?</p>
    <input type="radio" id="yes" name="is_satisfied" value="Yes">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="is_satisfied" value="No">
    <label for="no">No</label><br>
    <input type="hidden" name="isp" data-bind="value: fieldISP">
</div>
