<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kemana\Survey\Api\IspApiInterface"
                type="Kemana\Survey\Helper\IspApiService" />

    <preference for="Kemana\Survey\Api\SalesOrderProcessInterface"
                type="Kemana\Survey\Model\SalesOrderProcesser" />

    <preference for="Kemana\Survey\Api\IspDataProcessInterface"
                type="Kemana\Survey\Model\IspDataProcess" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kemana_isp_listing_data_source" xsi:type="string">
                    Kemana\Survey\Model\ResourceModel\Isp\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
